body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,img {padding:0;margin:0;}

.content {
	width: 100%;
	height: 255px;
	background: url("../images/search-top.png") no-repeat;
	text-align: center;
	/*position: absolute;*/
}

.f-content {
	width: 100%;
	height: 24px;
	background: #F0F0F0;
}

.content-1 {
	width: 250px;
	height:100px;
	/*top: 100px;*/
	/*background: blue;*/
	/*padding-top: 100px;*/
	text-align: center;
	margin: 75px 0 0 365px;
	position: absolute;
	/*margin-top: 80px;*/
}

.content-2 {
	width: 100%;
	height: 80%;
	/*background: green;*/
}

.content-2 p {
	font-size: 50px;
	color: white;
	letter-spacing: 5px;
	font-weight: 300px;
}

.content-3 {
	width: 20%;
	height: 1%;
	background: grey;
	margin: 0 auto;
	border-bottom: 5px solid white;
}

.middle-content {
	width: 100%;
	height: 250px;
	text-align: center;
}

.middle-content div {
	width: 800px;
	height: inherit;
	display: inline-flex;
	margin: 0 auto;
}

.middle-content div div {
	width: 160px;
	height: 150px;
	margin-top: 80px;
}

.middle-content span {
	color: #234755;
	font-size: 36px;
	margin-left: 20px;
	border-bottom: 2px solid #234755;
	height: 60px;
}

.sp1 {
	margin-left: 40px !important;
}

.last-content {
	width: 900px;
	height: 3400px;
	text-align: center;
	margin: 0 auto;
}

.content-pic {
	height: 780px;
	width: 950px;
	margin: 0 auto;
	display: inline-flex;
}

.content-pic div {
	margin-top: 30px;
	height: inherit;
	width: 450px;
}

.content-pic div:nth-child(1) {
	margin-right: 10px;
	background: url("../images/rw1.png") no-repeat;
}

.content-pic div:nth-child(2) {
	margin: 30px 50px 0 10px;
	background: url("../images/rw2.png") no-repeat;
}

.content-text {
	height: 280px;
	width: 950px;
	margin: 0 auto;
	display: inline-flex;
}

.content-text div {
	margin-top: 30px;
	height: inherit;
	width: 450px;
}

.content-text p {
	font-size: 36px;
	color: #747474;
	text-align: justify;
	margin: 30px 0 0 20px;
}

.content-text p:nth-child(2) {
	font-size: 32px !important;
}

.content-text p:nth-child(3) {
	color: #234755 !important;
}

.content-text span {
	font-size: 32px !important;
}

.middle-content-12 {
	width: 850px;
	height: 1500px;
	margin: 30px auto;
	font-size: 36px;
	color: #234755;
	text-align: justify;
}


.good-choose {
	width: 900px;
	height: 420px;
	display: inline-flex;
	margin: 30px auto;
	text-align: justify;
}

.good-choose div:nth-child(1) {
	width: 450px;
	height: 420px;
	/*margin-right: 25px;*/
	background: url("../images/choose-1.png") no-repeat;
}

.good-choose div:nth-child(2) {
	width: 526px;
	height: 420px;
	border-bottom: 1px solid #747474;
	margin: 0 50px 0 25px;
}

.good-choose p:nth-child(1) {
	font-size: 36px;
	color: #747474;
	margin-bottom: 30px;
}

.good-choose p:nth-child(2) {
	font-size: 32px;
	color: #747474;
	margin-bottom: 30px;
}

.good-choose p:nth-child(3) {
	font-size: 32px;
	color: #747474;
	margin-bottom: 30px;
}

.good-choose p:nth-child(4) {
	font-size: 36px;
	color: #234755;
	margin-top: 50px;
}

.good-choose span {
	font-size: 32px;
}

.bottom {
	width: 100%;
	height: 600px;
	bottom: 0px;
	/*position: fixed;*/
	text-align: center;
	background: #505050
}

.bottom-1 {
	width:80%;
	height:400px;
	/*background: red;*/
	
	display: inline-flex;
	text-align: center;
	border-bottom: 5px solid #3c3c3c;

}

.bottom-1 div {
	width: 30%;
	height: 300px;
	/*background: grey;*/
	margin: 0 auto;
}

.bottom-1 ul li {
	list-style-type: none;
	font-size: 30px;
	margin: 40px 0 40px 0;
	color: #f5f5f5;
}

.bottom-2 {
	width:75%;
	height:164px;
	margin: 0 auto;
	color: #a6a6a6;
}

.bottom-2 p {
	font-size: 30px;
	margin: 30px 0 30px 0;
}

.bottom-2 span:nth-child(2) {
	float: left;
	font-size: 30px;
}

.bottom-2 span:nth-child(3) {
	float: right;
	font-size: 30px;
}

.bottom-3 {
	width: 100%;
	height: 70px;
	text-align: center;
	background: #3c3c3c;
}

.bottom-4 {
	width: 10%;
	height: 70px;
	margin: 0 auto;
}





